<header>
    <h1>Our Products</h1>
    <p>Explore the world of pet happiness at Zoodora.</p>
</header>

<section class="products">
    <h2 class="section-title">All Our Products For Your Pet:</h2>
    <div class="product-list">
        {{#each products}}
        <div class="product-card">
            <img src="{{imageUrl}}" alt="{{name}}" />
            <h3>{{name}}</h3>
            <p class="price">${{price}}</p>
            <a href="/products/{{_id}}/details" class="btn">Read More</a>
        </div>
        {{else}}
        <h2 class="section-title">No Products Available yet.</h2>
        {{/each}}
    </div>
</section>
