<header>
    <h1>Search Zoodora</h1>
</header>

<div class="content">
    <div class="search-bar">
        <input type="text" placeholder="Search for food, toys..." />
        <button class="btn">Search</button>
    </div>

    <h2 class="section-title">Search Results:</h2>

    <div class="feature-box">
        {{#if products}}
        <div class="feature">
            <img src="{{imageUrl}}" alt="{{name}}">
            <h3>{{name}}</h3>
            <p class="price">${{price}}</p>
            <a href="/products/{{_id}}/details" class="btn">Read More</a>
        </div>
        {{else}}
        <h2 class="section-title">No Search Results.</h2>
        {{/if}}
    </div>
</div>